@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
html[data-from-mpire="1"] [data-default-link] {
	display: none !important;
}
html:not([data-from-mpire="1"]) [data-mpire-link] {
	display: none !important;
}

:root {
	/* FONT */

	/* Primary and Secondary Colors */
	--color-primary: #33a8a5;
	--color-primary-light: #84cccb;
	--color-primary-dark: #1c8b85;

	--color-secondary: #0f75e0;
	--color-secondary-light: #4fb1e4;
	--color-secondary-dark: #102a71;

	/* Background and Surface Colors */
	--color-background: #fdfcfd;
	--color-surface: #ffffff;

	/* Error Color */
	--color-error: #b00020;

	/* Text Colors */
	--color-on-primary: #ffffff;
	--color-on-secondary: #ffffff;
	--color-on-light: #000000;
	--color-on-background: #000000;
	--color-on-surface: #000000;
	--color-on-error: #ffffff;
}

body,
html {
	scroll-behavior: smooth;
	background-color: var(--color-background);
	color: var(--color-on-background);
	overflow-x: scroll;
	min-width: 350px;
	margin: 0;
	padding: 0;

	font-family: var(--font-montserrat);
}

@media (max-width: 350px) {
	body {
		overflow-x: auto;
	}
}

.animate-shine:hover {
	position: relative;
	overflow: hidden;
	display: inline-block;
	background: linear-gradient(-75deg, rgba(255, 255, 255, 0.2) 30%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.2) 70%);
	background-color: #e2e8f0;
	background-size: 200%;
	background-position: -100%;
	animation: shine 4s infinite linear;
	cursor: pointer; /* Ensure cursor consistency */
	transition: all 0.3s;
}
.animate-shine {
	background: linear-gradient(-75deg, rgba(255, 255, 255, 0.8) 30%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.8) 70%);
	background-color: #e2e8f0;
}
@keyframes shine {
	0% {
		background-position: 150%;
	}

	50% {
		background-position: -50%;
	}

	100% {
		background-position: 150%;
	}
}

/* /////////////////////// */
/*//*/

@layer utilities {
	.animate-under-shine {
		background-image: linear-gradient(-75deg, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.1) 70%);
		background-size: 200%;
		animation: shine2 4s infinite alternate ease-in-out;
	}

	@keyframes shine2 {
		0% {
			background-position: 150%;
		}

		50% {
			background-position: -50%;
		}

		100% {
			background-position: 150%;
		}
	}
}

.loader {
	border-top-color: #3498db;
	-webkit-animation: spin 1s ease-in-out infinite;
	animation: spin 1s ease-in-out infinite;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.widget-container {
	width: 100%;
}

.stats-container {
	display: flex;
	justify-content: space-around;
	margin-bottom: 1rem;
}

.stat {
	flex: 1;
	text-align: center;
}

.chart-container {
	margin-top: 1rem;
}

.text-shadow {
	text-shadow: 6px 5px 0 rgb(0, 0, 0);
	/* Shadow slightly to the right and below  on large txt */
}

.text-shadow-white {
	text-shadow: 3px 3px 0 rgb(255, 255, 255);
	/* Shadow slightly to the right and below  on large txt */
}

.text-shadow-2 {
	text-shadow: 3px 2px 0 rgb(0, 0, 0);
	/* Shadow slightly to the right and elow on small text */
}

.shadow-dark {
	box-shadow: rgb(38, 57, 77) 0px -5px 15px -5px, rgb(38, 57, 77) 0px 20px 30px -10px;
}

.label {
	height: 64px;
}

/* global.css or your custom CSS file */
.nav-icon {
	width: 40px;
	height: 30px;
	margin: 10px 10px;
	position: relative;
	cursor: pointer;
	display: inline-block;
}

.nav-icon span {
	background-color: #ffffff;
	position: absolute;
	border-radius: 2px;
	transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
	width: 100%;
	height: 5px;
	transition-duration: 500ms;
}

.nav-icon span:nth-child(1) {
	top: 0px;
	left: 0px;
}

.nav-icon span:nth-child(2) {
	top: 12px;
	left: 0px;
	opacity: 1;
}

.nav-icon span:nth-child(3) {
	bottom: 0px;
	left: 0px;
}

.nav-icon.open span:nth-child(3) {
	bottom: 0px;
	left: 0px;
}

.nav-icon:not(.open):hover span:nth-child(1) {
	transform: rotate(-3deg) scaleY(1.1);
}

.nav-icon:not(.open):hover span:nth-child(2) {
	transform: rotate(3deg) scaleY(1.1);
}

.nav-icon:not(.open):hover span:nth-child(3) {
	transform: rotate(3deg) scaleY(1.1);
}

.nav-icon.open span:nth-child(1) {
	transform: rotate(45deg);
	top: 13px;
}

.nav-icon.open span:nth-child(3) {
	opacity: 0;
}

.nav-icon.open span:nth-child(2) {
	transform: rotate(-45deg);
	top: 13px;
}

@media (max-width: 468px) {
	.nav-icon:not(.open):hover span:nth-child(1) {
		transform: rotate(-0deg) scaleY(1.1);
	}

	.nav-icon:not(.open):hover span:nth-child(2) {
		transform: rotate(0deg) scaleY(1.1);
	}

	.nav-icon:not(.open):hover span:nth-child(3) {
		transform: rotate(0deg) scaleY(1.1);
	}
}
