@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary and Secondary Colors */
  --color-primary: #33A8A5;
  --color-primary-light: #84cccb;
  --color-primary-dark: #1c8b85;

  --color-secondary: #3371A8;
  --color-secondary-light: #4fb1e4;
  --color-secondary-dark: #102a71;

  /* Background and Surface Colors */
  --color-background: #FDFCFD;
  --color-surface: #FFFFFF;

  /* Error Color */
  --color-error: #B00020;

  /* Text Colors */
  --color-on-primary: #FFFFFF;
  --color-on-secondary: #FFFFFF;
  --color-on-light: #000000;
  --color-on-background: #000000;
  --color-on-surface: #000000;
  --color-on-error: #FFFFFF;
}

* {
  transition: all 0.3s ease;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-on-background);
  overflow-x: hidden;
  min-width: 350px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif; 
}

/* Add more global styles as needed */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.widget-container {
  width: 100%;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.stat {
  flex: 1;
  text-align: center;
}

.chart-container {
  margin-top: 1rem;
}


/*Default text hover effect
a {
  position: relative;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--color-primary);
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: var(--color-primary);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}*/




/* Add these styles to your global CSS file (e.g., globals.css) */
/* Add these styles to your global CSS file */
/* Add these styles to your global CSS file */

.slide-enter {
  opacity: 0;
  transform: translateX(100%);
}

.slide-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 400ms ease-in-out, transform 400ms ease-in-out;
}

.slide-exit {
  opacity: 1;
  transform: translateX(0);
}

.slide-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 400ms ease-in-out, transform 400ms ease-in-out;
}

.reverse-slide-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.reverse-slide-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 400ms ease-in-out, transform 400ms ease-in-out;
}

.reverse-slide-exit {
  opacity: 1;
  transform: translateX(0);
}

.reverse-slide-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 400ms ease-in-out, transform 400ms ease-in-out;
}
.slide-enter,
.reverse-slide-enter {
    will-change: transform, opacity;
}